@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');

* {
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 500;

}

body {
    background: url(/assets/retro-living-room-interior-design.jpg) no-repeat center center/cover;
}

/* navbar */
.hamburger {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.bar {
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #fff;
}

.bar::before {
    content: '';
    position: absolute;
    top: -5px;
    width: 20px;
    height: 2px;
    background-color: #fff;
}

.bar::after {
    content: '';
    position: absolute;
    top: 5px;
    width: 20px;
    height: 2px;
    background-color: #fff;
}

.navbar .container {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 10%;
    width: 100%;
    height: 20vh;
    padding: 0 2rem;
}

.logo {
    position: absolute;
    font-size: 1.5rem;
    top: 3rem;
    color: #fff;
}

.menu-contact {
    position: absolute;
    right: 0;
    padding: 2rem 0;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px #fff solid;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.contact {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.contact-icon i {
    color: #fff;
}

.contact-info {
    color: #fff;
    font-weight: 500;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    padding: 1rem;


}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    flex-basis: 50%;
}

.left-side h1 {
    color: #fff;
    font-size: 4rem;
    width: 700px;
}

button {
    border: 2px #fff solid;
    padding: 1rem 4rem;
    border-radius: 50px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    background-color: transparent;

}

.right-side {
    position: relative;
    flex-basis: 50%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    position: absolute;
    width: 300px;
    padding: 2rem 2rem;
    background-color: rgba(184, 184, 184, 0.3);
}

.inner-card {
    background-color: #fff;
    width: 100px;
    border-radius: 25px;
    padding: 0.5rem 0rem;
    text-align: center;

}

.card h2 {
    color: #fff;
    font-size: 1rem;
}

.puzzle {
    position: absolute;
    top: -200px;
    right: 150px;
}

.line-1 {
    position: absolute;
    bottom: -50px;
    right: 63px;
    transform: rotate(90deg);
    width: 100px;
    height: 2px;
    background-color: #fff;
}

.dot-1 {
    bottom: -100px;
    right: 100px;
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
}

.idea {
    position: relative;
    bottom: -100px;

}

.line-2 {
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #fff;
    transform: rotate(90deg);
    right: -50px;
}

.dot-2 {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    right: -100px;
}

/* md Screen */

@media screen and (max-width:768px) {

    .menu-contact,
    .contact {
        display: none;
    }

    .hamburger {
        display: block;
        top: 80px;
        right: 50px;
    }

    .container {
        padding: 1.5rem;
    }

    .hero .container {
        flex-direction: column;
        height: 1200px;
    }

    .left-side {
        padding: 1.5rem;
        align-items: flex-start;
        gap: 2rem;
        justify-content: center;
    }

    .left-side h1 {
        font-size: 2rem;
        width: 250px;
    }

    button {
        font-size: 1rem;
        padding: 0.5rem 2rem;

    }

    .puzzle {
        right: 50%;
        top: 0%;
        transform: translate(50%, 0%);
    }

    .idea {
        top: 400px;
    }
}

/* sm Screen */

@media screen and (max-width:1024px) {

    .menu-contact,
    .contact {
        display: none;
    }

    .hamburger {
        display: block;
        top: 80px;
        right: 50px;
    }

    .container {
        padding: 1.5rem;
    }

    .hero .container {
        gap: 2rem;
        
    }

    .left-side {
        padding: 1.5rem;
        align-items: flex-start;
        gap: 2rem;
        justify-content: center;
    }

    .left-side h1 {
        font-size: 4rem;
        width: 400px;
    }
    
    .idea{
        right: 50px;
    }
    button {
        font-size: 1rem;
        padding: 1rem 2rem;

    }

}













